.chat-container-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: rgb(234, 38, 114);
    background: linear-gradient(254deg, rgba(234, 38, 114, 1) 0%, rgba(236, 57, 127, 1) 14%, rgba(255, 255, 255, 1) 48%, rgba(1, 5, 54, 1) 86%);
}



.user-name {
    display: flex;
    position: relative;
    bottom: 23px;
    right: 70px;
    color: white;
}

.profile {

    display: flex;
    align-items: center;
    color: #EA2672;
}

.profile-img {
    height: 18vh;
    width: 30vw;
    border: white;
    /* background-color: #010536; */
    overflow: hidden;
    position: relative;
    right: 25px;


}

.profile-photo {
    height: 18vh;
    width: 30vw;
    position: relative;
    left: 400px;
    border-radius: 50px;
    left: 0px;

}

@media screen and (min-width: 350px) and (max-width: 700px) {
    .profile {
        width: 50%;
    }
    .chat-container-header {
        height: auto;
        width: 100%;
    }

    .profile-photo {
        position: relative;

        left: 50px;
    }
    .profile-img {
    height: 20vh;
    width: 70vw;
    border: white;
    /* background-color: #010536; */
    position: relative;
    left: 50px;
    top: 30px;



}
}

@media screen and (min-width: 700px) and (max-width: 1300px) {
    .profile {
        width: 35%;
    }
    .chat-container-header {
        height: auto;
        width: 100%;
    }

    .profile-photo {
        position: relative;
        height: 14vh;
        width: 40vw;
        left: 50px;
    }
    .profile-img {
    height: 19vh;
    width: 50vw;
    border: white;
    /* background-color: #010536; */
    overflow: hidden;
    position: relative;
    right: 28px;
    }
    
    .chat-container-header {
        width: 100%;

    }

  
}

