

.secondary-button {
  display: flex;
  position: relative;
  margin-top: 10px;
  bottom: 50px;
  padding: 10px;
}

.chat-btn-submit {
    background-color: #e5e6f1;
    width: 50%;
    position: relative;
    top: 690px;
    display: flex;
    justify-content: center;
    margin-left: 50px;
    padding: 10px;
    align-items: center;
    color: white;
}
.chat-input {


}


